* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 1em 1em;
}

body {
  width: 100%;
  height: 10vh;
  background: black;
  font: normal 0.5rem Montserrat;
  color: white;
  position: absolute;
}

header {
  width: 100%;
  height: 5.625em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#logo {
  justify-self: flex-start;
}

ul {
  display: none;
  list-style: none;
}

ul li {
  margin: 0 2em;
}

#upper {
  width: 100%;
  height: 50em;
  background-color: black;
  top: 0;
  padding: 5em 0 0;
}

.upperContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#upper img {
  width: 40%;
  position: relative;
}

#upper .campo {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#upper fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#upper label {
  font: normal 0.8em Montserrat;
  padding: 0 0 0.5em;
}

#upper input {
  height: 2em;
  margin-bottom: 0.5em;
}

button {
  width: 60%;
  display: center;
  border: 0;
  color: white;
  background-color: black;
}

#bar {
  width: 100%;
  height: 0em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bar h1 {
  font-size: 1.25rem;
  text-align: center;
  padding: 0 1em;
}
